[submodule "internal/parquetry-testkit/src/main/resources/parquet-testing"]
	path = internal/parquetry-testkit/src/main/resources/parquet-testing
	url = https://github.com/apache/parquet-testing.git
[submodule "internal/parquetry-testkit/src/main/resources/geoparquet"]
	path = internal/parquetry-testkit/src/main/resources/geoparquet
	url = https://github.com/opengeospatial/geoparquet.git
